@media (max-width: 680px) {

  .main_section{
    padding: 5%;
  }
  .products{
    display: block;
    height: auto;
    padding: 5%;
  }
  .product{
    margin-top: auto;
  }
  .beneficios{
    display: initial;
  }
  .mentions{
    display: initial;
  }


}